.container{
    background-color: cornflowerblue;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    
}
.amount{
    border: 1px solid white;
    padding: 2px 35px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    color: white;

}
.date{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
    font-size: 15px;
    display: flex;  
}

.title{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
    
    

}